  body {
        background: #f4f6f9;
        font-family: Arial, sans-serif;
    }

    .container {
        width: 400px;
        margin: 40px auto;
        background: #fff;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        color: #333;
    }

    .form-group {
        margin-bottom: 15px;
        margin-right: 20px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #444;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: 0.2s;
    }
      input:focus, select:focus {
        border-color: #fbdd12;
        box-shadow: 0 0 5px rgba(182, 170, 4, 0.3);
    }

    button {
        width: 100%;
        background: #fbdd12;
        border: none;
        padding: 12px;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover {
        background:rgba(149, 139, 3, 0.3);
    }